@import url("https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap");

html {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.brand {
  font-family: "Teko", cursive;
  font-weight: 700;
  background-clip: text;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bg-grid {
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}
