<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>📖 Tale Craft</title>
    <link rel="stylesheet" href="https://matcha.mizu.sh/matcha.css">
</head>
<body>
    <header>
        <menu>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
                <li><a href="{{ url_for('login') }}">Log In</a></li>
            {% endif %} 
        </menu>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>