{% if full_page %}
{% extends 'base.html' %}
{% endif %}

<div
    class="border-x-2 border-lighter dark:border-darker max-w-7xl mx-auto rounded-sm dark:bg-dark bg-light dark:text-dark">


    <nav class="flex justify-between items-center px-6 py-4 rounded-md border-b-2 dark:border-darker border-lighter">
        <a href="{{ url_for('index') }}" onclick="navigate(event, '/')"
            class="text-5xl brand font-extrabold text-gray-500 hover:text-gray-700 dark:text-white dark:hover:text-gray-300">Bot
            Verse</a>
        <div class="flex space-x-6">
            <a href="{{ url_for('chatbot_hub') }}" onclick="navigate(event, '/chatbot_hub')"
                class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Hub</a>
            <a href="{{ url_for('profile') }}" onclick="navigate(event, '/profile')"
                class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Profile</a>
        </div>
        <div>
            <a href="{{ url_for('logout') }}" onclick="navigate(event, '/logout')" class="">Logout</a>
        </div>
    </nav>



    <h2 class="text-4xl font-bold mb-8 dark:text-dark p-3">Welcome 👋, <span class="text-blue-600">
            {{current_user.username}}</span>!</h2>

    <div class="p-3">
        <input type="text" id="chatbot-search" placeholder="Search chatbots..." class="block w-full border rounded-3xl p-3 text-lg
        bg-white dark:bg-dark focus:outline-none dark:border-darker
        focus:ring-2 focus:ring-blue-500 focus:border-blue-500
        transition duration-200 ease-in-out shadow-sm">
    </div>

    <a href="{{ url_for('create_chatbot') }}" onclick="navigate(event, '/create_chatbot');"
        class="fixed bottom-16 right-16 bg-blue-600 hover:bg-blue-700 text-white text-3xl w-16 h-16 flex items-center justify-center rounded-full shadow-lg focus:outline-none z-20"
        aria-label="Create Chatbot">
        <i class="fas fa-plus"></i>
    </a>

    <!-- Separator Line -->
    <hr
        class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />


    <h2 class="text-2xl font-bold mb-6 p-3">Your Chatbots</h2>
    {% if chatbots %}
    <div id="user-chatbots" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-3">
        {% for chatbot in chatbots %}
        <div
            class="chatbot-card bg-light dark:bg-dark p-6 rounded-lg transition-all drop-shadow hover:shadow border border-lighter dark:border-darker flex flex-col justify-between h-64">
            <div>
                <h3 class="text-xl font-semibold dark:text-dark truncate" title="{{ chatbot.name }}">
                    {{ chatbot.name[:20] }}{% if chatbot.name|length > 20 %}...{% endif %}
                </h3>
                <p class="text-neutral-600 mt-2 overflow-hidden text-ellipsis"
                    style="display: -webkit-box; -webkit-box-orient: vertical;">
                    "{{ chatbot.prompt[:100] }}{% if chatbot.prompt|length > 100 %}...{% endif %}"
                </p>
            </div>
            <div class="mt-4 flex justify-between items-center text-2xl">
                <a href="{{ url_for('chatbot', chatbot_id=chatbot.id) }}"
                    onclick="navigate(event, `/chatbot/{{ chatbot.id }}`)"
                    class="text-blue-500 hover:text-blue-600 transition duration-300 p-2 rounded hover:bg-blue-100 dark:hover:bg-blue-800/20"
                    title="Chat">
                    <i class="fas fa-comment-alt"></i>
                </a>

                <form id="publish-form-{{ chatbot.id }}" action="/api/chatbot/{{ chatbot.id }}/publish">
                    {% if chatbot.public %}
                    <button type="submit"
                        class="text-red-500 hover:text-red-600 transition duration-300 p-2 rounded hover:bg-red-100 dark:hover:bg-red-700/10 dark:text-red-400 dark:hover:text-red-300"
                        title="Unpublish">
                        <i class="fas fa-globe"></i>
                    </button>
                    {% else %}
                    <button type="submit"
                        class="text-green-500 hover:text-green-600 transition duration-300 p-2 rounded hover:bg-green-100 dark:hover:bg-green-700/10 dark:text-green-400 dark:hover:text-green-300"
                        title="Publish">
                        <i class="fas fa-globe"></i>
                    </button>
                    {% endif %}
                </form>
                <a href="{{ url_for('update_chatbot', chatbot_id=chatbot.id) }}"
                    onclick="navigate(event, `/chatbot/{{ chatbot.id }}/update`)"
                    class="text-yellow-500 hover:text-yellow-600 transition duration-300 p-2 rounded hover:bg-yellow-100 dark:hover:bg-yellow-700/10 dark:text-yellow-400 dark:hover:text-yellow-300"
                    title="Update">
                    <i class="fas fa-edit"></i>
                </a>
                <form id="delete-chatbot-form-{{ chatbot.id }}" action="/api/chatbot/{{ chatbot.id }}/delete">
                    <button type="submit"
                        class="text-red-500 hover:text-red-600 transition duration-300 p-2 rounded hover:bg-red-100 dark:hover:bg-red-700/10 dark:text-red-400 dark:hover:text-red-300"

                        title="Delete">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <div class="max-w-4xl mx-auto mt-8">
        <p class="text-center">No chatbots! <a href="{{ url_for('create_chatbot') }}"
                onclick="navigate(event, '/create_chatbot')" class="text-blue-500 hover:underline">Create</a> one.
        </p>
    </div>
    {% endif %}

    <!-- Separator Line -->
    <hr
        class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />



    {% if system_chatbots %}
    <div class="mb-12">
        <h2 class="text-2xl font-bold mb-6 p-3">System Chatbots</h2>
        <div id="system-chatbots" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 p-3">
            {% for chatbot in system_chatbots %}
            <div
                class="chatbot-card bg-light dark:bg-dark p-6 rounded-lg drop-shadow hover:shadow border border-lighter dark:border-darker flex flex-col justify-between h-64">
                <div>
                    <h3 class="text-xl font-semibold truncate" title="{{ chatbot.name }}">
                        {{ chatbot.name[:20] }}{% if chatbot.name|length > 20 %}...{% endif %}
                    </h3>
                    <p class="text-neutral-600 mt-2 overflow-hidden text-ellipsis"
                        style="display: -webkit-box;  -webkit-box-orient: vertical;">
                        "{{ chatbot.prompt[:100] }}{% if chatbot.prompt|length > 100 %}...{% endif %}"
                    </p>
                </div>
                <div class="mt-4 flex justify-end text-2xl">
                    <a href="{{ url_for('chatbot', chatbot_id=chatbot.id) }}"
                        onclick="navigate(event, `/chatbot/{{ chatbot.id }}`)"
                        class="text-blue-500 hover:text-blue-600 transition duration-300 p-2 rounded hover:bg-blue-100 dark:hover:bg-blue-800/20"
                        title="Chat">
                        <i class="fas fa-comment-alt"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}



</div>