<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🤖</text></svg>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bot Verse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />

    <link href="{{ url_for('static', filename='css/tailwind.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
</head>

<body>
    <div class="absolute overflow-y-scroll no-scrollbar inset-0 -z-10 h-full w-full bg-light dark:bg-dark bg-grid">
        <div id="main-content">
            {% block content %} {% endblock %}
        </div>

        <a href="{{ url_for('routes.anonymous_chatbot') }}" onclick="navigate(event, '/anonymous');"
            class="fixed bottom-16 left-16 bg-blue-600 hover:bg-blue-700 text-white text-3xl w-16 h-16 flex items-center justify-center rounded-full shadow-lg focus:outline-none z-20"
            id="anonymousChatbotButton" aria-label="Anonymous Chatbot">
            <i class="fas fa-user-secret"></i>
        </a>


    </div>
    <script src="/static/app.js"></script>
    <div class="absolute bottom-5 left-5"></div>
    <script>
    window.gtranslateSettings = {
      default_language: "en",
      detect_browser_language: true,
      wrapper_selector: ".gtranslate_wrapper",
      flag_size: 16,
    };
  </script>
  <script
  src="https://cdn.gtranslate.net/widgets/latest/popup.js"
  defer
  ></script>
</body>

</html>