{% if full_page %}
{% extends 'base.html' %}
{% endif %}
<div
    class="border-x-2 border-lighter dark:border-darker max-w-7xl mx-auto rounded-sm dark:bg-dark bg-light dark:text-dark min-h-screen">

    <nav class="flex justify-between items-center px-6 py-4 rounded-md border-b-2 dark:border-darker border-lighter">
        <a href="{{ url_for('routes.index') }}" onclick="navigate(event, '/')"
            class="text-5xl brand font-extrabold text-gray-500 hover:text-gray-700 dark:text-white dark:hover:text-gray-300">Bot
            Verse</a>
        <div class="flex space-x-6">
            <a href="{{ url_for('routes.dashboard') }}" onclick="navigate(event, '/dashboard')"
                class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Dashboard</a>
            <a href="{{ url_for('routes.profile') }}" onclick="navigate(event, '/gallery')"
                class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Gallery</a>
        </div>
        <div class="flex items-center space-x-4">
            <button id="theme-toggle" type="button"
                class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
                <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                </svg>
                <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                        fill-rule="evenodd" clip-rule="evenodd"></path>
                </svg>
            </button>
            <a href="{{ url_for('routes.profile') }}" onclick="navigate(event, '/profile')" class="">
                <img src="{{ current_user.avatar }}" alt="User Avatar" class="w-6 h-6 rounded-full">

            </a>
        </div>
    </nav>


    <h2 class="text-4xl font-bold mb-8 dark:text-dark p-3">Welcome 👋, <span class="text-blue-600">
            {{current_user.username}}</span>!</h2>
    {% if chatbots %}
    <!-- Separator Line -->
    <hr
        class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />


    <div>
        <h2 class="text-2xl font-semibold mb-6 p-3">Chatbots Hub</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-3">
            {% for chatbot in chatbots %}
            <div
                class="bg-light dark:bg-dark p-6 rounded-lg drop-shadow hover:shadow border border-lighter dark:border-darker flex flex-col justify-between h-full">
                <div class="mb-4">
                    <div class="flex items-center space-x-2">
                        <img src="{{ chatbot.avatar }}" alt="{{ chatbot.name }}'s avatar"
                            class="w-10 h-10 border rounded-full dark:border-darker mr-3">
                        <h3 class="text-xl font-semibold truncate" title="{{ chatbot.name }}">
                            {{ chatbot.name[:20] }}{% if chatbot.name|length > 20 %}...{% endif %}
                        </h3>
                    </div>
                    <p class="text-neutral-600 mt-2 overflow-hidden text-ellipsis"
                        style="display: -webkit-box;  -webkit-box-orient: vertical;">
                        "{{ chatbot.prompt[:100] }}{% if chatbot.prompt|length > 100 %}...{% endif %}"
                    </p>
                    <p class="text-neutral-500 flex justify-end mt-3">
                        Created by: <a href="{{ url_for('routes.user_profile', user_id=chatbot.user_id) }}"
                            onclick="navigate(event, '/profile/{{chatbot.user_id}}')"
                            class="font-semibold text-blue-500 ml-1">{{
                            chatbot.generated_by }}</a>
                    </p>
                </div>
                <div class="flex justify-between text-2xl mt-3 space-x-2">
                    <!-- Chat Button -->
                    <a href="{{ url_for('routes.chatbot', chatbot_id=chatbot.id) }}"
                        onclick="navigate(event, '/chatbot/{{chatbot.id}}')"
                        class="text-blue-500 hover:text-blue-600 transition duration-300 p-2 rounded hover:bg-blue-100 dark:hover:bg-blue-800/20"
                        title="Chat">
                        <i class="fas fa-comment-alt"></i>
                    </a>
                    <div class="flex items-center">

                        <button type="button"
                            class="text-blue-500 hover:text-blue-600 transition duration-300 p-2 rounded hover:bg-blue-100 dark:hover:bg-blue-800/20 like-btn"
                            onclick="likeChatbot({{ chatbot.id }})" title="Like">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                        <span id="like-count-{{ chatbot.id }}" class="text-sm text-gray-500 ml-2">{{ chatbot.likes or 0
                            }}</span>
                    </div>

                    <div class="flex items-center">

                        <button onclick="reportChatbot({{ chatbot.id }})"
                            class="text-red-500 hover:text-red-600 transition duration-300 p-2 rounded hover:bg-red-100 dark:hover:bg-red-700/10 dark:text-red-400 dark:hover:text-red-300"
                            title="Like">
                            <i class="fas fa-flag"></i>
                        </button>

                        <span id="report-count-{{ chatbot.id }}" class="text-sm text-gray-500 ml-2">{{ chatbot.reports
                            or 0
                            }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="max-w-4xl mx-auto mt-8">
        <p class="text-center text-neutral-500">No chatbots! <a href="{{ url_for('routes.create_chatbot') }}"
                onclick="navigate(event, '/create_chatbot')">Create</a> one and
            publish it to the hub using the button below.</p>
    </div>
    {% endif %}
    <div class="absolute bottom-5 left-5"></div>
    <script>
    window.gtranslateSettings = {
      default_language: "en",
      detect_browser_language: true,
      wrapper_selector: ".gtranslate_wrapper",
      flag_size: 16,
    };
  </script>
  <script
  src="https://cdn.gtranslate.net/widgets/latest/popup.js"
  defer
  ></script>

</div>