{% if full_page %}
{% extends 'base.html' %}
{% endif %}

<div
  class="flex flex-col border-x-2 border-lighter dark:border-darker max-w-7xl mx-auto rounded-sm dark:bg-dark bg-light dark:text-dark h-screen">
  <div class="flex items-center justify-between m-3">
    <div class="flex items-center space-x-2">
      <a href="{{ url_for('routes.dashboard') }}" onclick="navigate(event, '/dashboard')" class="block mt-2">
        <button type="button" class="shadow bg-blue-500 text-white rounded-full  transition-colors hover:bg-blue-600">
          <svg class="h-10 w-10 p-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M15 18l-6-6 6-6"></path>
          </svg>
        </button>
      </a>
      <img src="https://robohash.org/Image Generation Chatbot" alt="Image Generation's avatar"
        class="w-10 h-10 border rounded-full dark:border-darker mr-3">
      <h1 class="text-4xl font-extrabold dark:text-dark text-center">Image Generation</h1>
    </div>
  </div>

  <!-- Separator Line -->
  <hr
    class="mb-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />


  <div id="imagesContainer" class="flex-1 overflow-y-auto p-6 space-y-6 h-full no-scrollbar">
    {% if images %}
    {% for image in images %}
    <div class="flex justify-start items-center space-x-2 mb-2">
      <div
        class="max-w-md bg-white dark:bg-dark dark:text-dark/90 text-gray-900 rounded-xl p-4 drop-shadow-md shadow border border-gray-100 dark:border-darker flex flex-col">
        <img class="rounded-md" src="{{ base_url }}/{{ image.prompt }}" alt="{{ image.prompt }}">
        <p class="text-center mt-2">{{ image.prompt }}</p>
        <div class="flex justify-between mt-2">
          <button type="button"
            class="bg-blue-500 hover:bg-blue-600 text-white rounded-full p-2 drop-shadow transition duration-200 flex items-center justify-center download-btn"
            title="Download" data-url="{{ base_url }}/{{ image.prompt }}">
            <i class="fa-solid fa-download"></i>
          </button>
        </div>
      </div>
    </div>

    {% endfor %}
    {% else %}
    <p class="text-center text-gray-500">No Images generated yet.</p>
    {% endif %}

  </div>
  <div id="error" class="text-red-500"></div>
  <form id="prompt-form" class="flex w-full space-x-3 px-3 py-1 border-t dark:border-darker border-lighter">
    <input type="text" name="prompt" id="prompt" required class="block w-full border rounded-3xl p-3 text-lg
        bg-white dark:bg-dark focus:outline-none dark:border-darker
        focus:ring-2 focus:ring-blue-500 focus:border-blue-500
        transition duration-200 ease-in-out shadow-sm" placeholder="Type your prompt...">
    <button type="submit"
      class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-6 py-3 shadow-lg transition duration-200">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
    <button type="button" id="start-record"
      class="bg-blue-500 hover:bg-blue-600 text-white rounded-full px-6 py-3 shadow-lg transition duration-200">
      <i class="fa-solid fa-microphone"></i>
    </button>
    <button type="button" id="stop-record"
      class="bg-red-500 hover:bg-red-600 text-white rounded-full px-6 shadow-lg transition duration-200 hidden">
      <i class="fa-solid fa-stop"></i>
    </button>
  </form>
  <div class="absolute bottom-5 left-5"></div>
  <script>
  window.gtranslateSettings = {
    default_language: "en",
    detect_browser_language: true,
    wrapper_selector: ".gtranslate_wrapper",
    flag_size: 16,
  };
</script>
<script
src="https://cdn.gtranslate.net/widgets/latest/popup.js"
defer
></script>
</div>
