{% if full_page %}
{% extends 'base.html' %}
{% endif %}

<div class="flex items-center justify-center h-screen max-w-md mx-auto">
    <div
        class="p-5 w-full dark:text-dark border border-lighter dark:border-darker dark:bg-dark bg-light rounded-lg shadow drop-shadow">
        <div class="flex items-center justify-between">
            <h1 class="text-3xl font-bold mb-6">Update your profile</h1>
            <a href="{{ url_for('routes.profile') }}" onclick="navigate(event, '/profile')" class="block mb-4">
                <button type="button"
                    class="shadow bg-blue-500 text-white rounded-full  transition-colors hover:bg-blue-600">
                    <svg class="h-10 w-10 p-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 18l-6-6 6-6"></path>
                    </svg>
                </button>
            </a>
        </div>


        <form id="edit-profile-form" class="space-y-4">
            <div>
                <label for="name" class="block text-lg font-medium text-gray-700">Name:</label>
                <input type="text" id="name" name="name" required value="{{ user.name }}" class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" placeholder="Enter your name">
            </div>
            <div>
                <label for="username" class="block text-lg font-medium text-gray-700">Username:</label>
                <input type="text" id="username" name="username" required value="{{ user.username }}" class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" placeholder="Enter your username">
            </div>
            <div>
                <label for="bio" class="block text-lg font-medium text-gray-700">Username:</label>
                <textarea name="bio" id="bio" required class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" rows="4"
                    placeholder="Enter your bio here...">{{ user.bio }}</textarea>
            </div>


            <div id="profile-edit-error" class="text-red-400"> </div>

            <div class="flex justify-end">
                <button type="submit"
                    class="inline-block bg-blue-600 text-white rounded-full px-4 py-2 transition hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400 cursor-pointer">
                    Change
                </button>
            </div>
        </form>
        <div class="absolute bottom-5 left-5"></div>
        <script>
        window.gtranslateSettings = {
          default_language: "en",
          detect_browser_language: true,
          wrapper_selector: ".gtranslate_wrapper",
          flag_size: 16,
        };
      </script>
      <script
      src="https://cdn.gtranslate.net/widgets/latest/popup.js"
      defer
      ></script>
    </div>
</div>