{% if full_page %}
{% extends 'base.html' %}
{% endif %}

<div
  class="border-x-2 border-lighter dark:border-darker max-w-7xl mx-auto rounded-sm dark:bg-dark bg-light dark:text-dark min-h-screen">
  <!-- Navigation Bar -->
  <nav class="flex justify-between items-center px-6 py-4 rounded-md border-b-2 dark:border-darker border-lighter">
    <a href="{{ url_for('routes.index') }}" onclick="navigate(event, '/')"
      class="text-5xl brand font-extrabold text-gray-500 hover:text-gray-700 dark:text-white dark:hover:text-gray-300">Bot
      Verse</a>
    <div class="flex space-x-6">
      <a href="{{ url_for('routes.dashboard') }}" onclick="navigate(event, '/dashboard')"
        class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Dashboard</a>
      <a href="{{ url_for('routes.chatbot_hub') }}" onclick="navigate(event, '/chatbot_hub')"
        class="text-2xl font-bold dark:text-dark dark:hover:text-dark/75">Hub</a>
    </div>


  </nav>




  <!-- Edit and Logout Buttons -->
  <div class="flex items-center justify-between p-3">
    <label class="block text-sm font-medium dark:text-dark mb-2 p-2 ">Edit Profile (eg. username, name, bio)</label>
    <button onclick="navigate(event, '/profile/edit')"
      class="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600 transition duration-300">Edit
      Profile</button>
  </div>
  <hr
    class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

  <div class="flex items-center justify-between p-3">
    <label class="block text-sm font-medium dark:text-dark mb-2 p-2 ">Toggle Site Theme</label>
    <div class="flex items-center space-x-4">
      <button id="theme-toggle" type="button"
        class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none rounded-lg text-sm p-2.5">
        <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
        <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
            fill-rule="evenodd" clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>
  </div>

  <!-- Separator Line -->
  <hr
    class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />


  <!-- Font Size Toggle -->
  <div class="mb-6 p-3 ">
    <label for="font-size-toggle" class="block text-sm font-medium dark:text-dark mb-2 p-2 ">Font
      Size</label>
    <div class="relative border dark:border-darker border-lighter rounded-md">
      <select id="font-size-toggle" onchange="changeFontSize()"
        class="block appearance-none w-full dark:bg-dark bg-light dark:text-dark dark:border-darker border-lighter py-2 px-4  pr-8 rounded leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-300">
        <option value="small">Small</option>
        <option value="medium">Medium</option>
        <option value="large">Large</option>
      </select>
      <div
        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700 dark:text-gray-300">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" />
        </svg>
      </div>
    </div>
  </div>

  <hr
    class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

  <div class="mb-6 p-3">
    <form id="voice-form" class="space-y-4">
      <label for="voice-selection" class="block text-sm font-medium dark:text-dark mb-2 p-2">Select Default Speech
        Voice:</label>
      <div class="relative border dark:border-darker border-lighter rounded-md">

        <select id="voice-selection"
          class="block appearance-none w-full dark:bg-dark bg-light dark:text-dark dark:border-darker border-lighter py-2 px-4  pr-8 rounded leading-tight focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 dark:focus:ring-blue-300">

          <!-- Dynamic list of voices will be inserted here -->
        </select>
      </div>

      <button type="submit" class="bg-blue-500 dark:text-dark px-4 py-2 rounded-md hover:bg-blue-600">
        Save Voice Preference
      </button>
      <button type="button" id="preview-button" class="px-4"><i class="fa-solid fa-volume-up"></i></button>
    </form>
    <p id="success-message" class="mt-4 text-green-500 hidden">Voice preference saved successfully!</p>

  </div>

  <hr
    class="my-1 h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 dark:via-neutral-400" />

  <div class="flex items-center justify-between p-3">
    <label class="block text-sm font-medium dark:text-dark mb-2 p-2 ">Logout your current Session</label>
    <button onclick="navigate(event, '/logout')"
      class="bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600 transition duration-300">Logout</button>

  </div>

</div>