{% if full_page %}
{% extends 'base.html' %}
{% endif %}

<div class="flex items-center justify-center h-screen max-w-md mx-auto">

    <div
        class="p-5 w-full dark:text-dark border border-lighter dark:border-darker dark:bg-dark bg-light rounded-lg shadow drop-shadow">
        <div class="flex items-center justify-between">

            <h1 class="text-3xl font-bold mb-6">Sign Up</h1>
            <a href="{{ url_for('routes.index') }}" onclick="navigate(event, '/')" class="block mb-4">
                <button type="button"
                    class="shadow bg-blue-500 text-white rounded-full  transition-colors hover:bg-blue-600">
                    <svg class="h-10 w-10 p-1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M15 18l-6-6 6-6"></path>
                    </svg>
                </button>
            </a>
        </div>

        <form id="signup-form" class="space-y-4">
            <div>
                <label for="name" class="block text-lg font-medium text-neutral-700">Name:</label>
                <input type="text" id="name" name="name" required class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" placeholder="Enter your name">
            </div>

            <div>
                <label for="username" class="block text-lg font-medium text-neutral-700">Username:</label>
                <input type="text" id="username" name="username" required class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" placeholder="Choose a username">
            </div>

            <div>
                <label for="email" class="block text-lg font-medium text-neutral-700 mb-2">Email:</label>
                <input type="email" id="email" name="email" required class="mt-1 block w-full border rounded-md p-3 text-lg
                        bg-white dark:bg-dark focus:outline-none dark:border-darker
                        focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                        transition duration-200 ease-in-out shadow-sm" placeholder="Enter your email">
            </div>


            <div>
                <label for="password" class="block text-lg font-medium text-neutral-700">Password:</label>
                <input type="password" id="password" name="password" required class="mt-1 block w-full border rounded-md p-3 text-lg
                bg-white dark:bg-dark focus:outline-none dark:border-darker
                focus:ring-2 focus:ring-blue-500 focus:border-blue-500
                transition duration-200 ease-in-out shadow-sm" placeholder="Enter your password">
            </div>


            <div id="signup-error" class="text-red-400"></div>


            <div class="flex justify-end">
                <button id="signup-button"
                    class="inline-block bg-blue-600 text-white rounded-full px-4 py-2 transition hover:bg-blue-500 dark:bg-blue-500 dark:hover:bg-blue-400 cursor-pointer">
                    Sign Up</button>
            </div>
        </form>

        <p class="mt-4 text-center">Already have an account? <a href="{{ url_for('routes.login') }}"
                onclick="navigate(event, '/login')" class="text-blue-500 hover:underline">Log In</a></p>
    </div>
</div>